<!-- ngModel is a directive which tells angular  to listen to anything entered and store in the name module-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h3>Assignment 1</h3>
      <hr>
      <ol>
        <li>Create two new Components (manually or with CLI):WarningAlert and SuccessALert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text)</li>
      </ol>
      <p>use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert> -->



      <!--to select by attribute  -->
      <!-- <div app-servers></div> -->

      <!-- selecting by class -->
      <!-- <div class="app-servers"></div> -->
     <h3>I'm in the AppComponent</h3>
      <hr>


    <!-- <h3>Assignment 2</h3>
    <ol>
      <li>Add a input field which u[dates a property ('username') via Two-way-Binding</li>
      <li>Output the user property via String Interpolation (in a paragraph below the input)</li>
      <li>Add a button which may only be clicked if the username is nit an empty srrings</li>
      <li>Upon clicking the buttom, the username should be reset to an empty string</li>
    </ol> -->




    <!-- <label for="">UsernAME</label>
    <input type="text" class="form-control" [(ngModel)] ="username">
    <p>{{username}}</p> -->
    <!-- disable button if the username is empty and reset username if clicked-->
    <!-- <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Rest button</button> -->

    <!-- <app-servers></app-servers> -->



    <ol>
      <li>Add a button which says 'Display Details</li>
      <li>Add a paragraph wir=th content of your  choice (eg. 'Secret Password = turn'</li>
      <li>Toggle the fisplaying of that paragraph with the button created in the first step</li>
      <li>Log all buutton clicks in an array and output that array below the secret paragraph (mAYBE LOG A TIMESTAMP OR SIMPLY AN INCREMENTING NUMBER</li>
      <li>Startint at the 5th log Item, give all future log items a blue background (via ngStyle ) and  WHITE color (ngClass</li>
    </ol>
    <hr>


    <!-- toggle the display of the paragraph -->
    <!-- <button  class = "btn btn-primary" (click)="showText = !showText">Display Details</button>
    <p *ngIf="showText">Secret Password = tuna</p> -->



    <!-- another way to toggle the dispaly of the paragraph -->

    <button  class = "btn btn-primary" (click) = "OnToggleDetails()">Display Details</button>
    <p *ngIf="showText">Secret Password = tuna</p>
    <div

    *ngFor="let logItem of log; let i = index"
    [ngStyle] ="{backgroundColor: i>=5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >= 5}">{{logItem}}</div>



    </div>
  </div>
</div>
